@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

:root{
  --red: #e50916;
  --white: #fff;
  --black: #000;
  --header-height: 70px;
  --header-height-mobile: 150px;
  --dark-bg: #221f1f;
  --light-bg: white;
  --footer-bg: #373232;
  --transparent-bg: rgba(20, 20, 20, 0.7);
  --grey: #2D2D2D;
  --grey-text: #9b9b9b;
}

a{
  text-decoration: none;
}

body{
  background-color: var(--dark-bg);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
